header {
  display: flex;
  flex-direction: column;
  gap: 25px;
  .logo-sm {
    display: block;
    width: 28px;
    height: 32px;
    @media only screen and (min-width: 768px) {
      display: none;
    }
  }
  .logo-md {
    display: none;
    width: 145px;
    height: 35px;
    @media only screen and (min-width: 768px) {
      display: block;
    }
  }
}
