.alert {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  z-index: 900;
  opacity: 0.9;
}

.alert-success {
  background-color: var(--success-alert-color);
}

.alert-info {
  background-color: var(--info-alert-color);
}

.alert-error {
  background-color: var(--error-alert-color);
}
