input[type="radio"] {
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid var(--white-color);
  border-radius: 50%;

  &::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    margin: 3px;
    border-radius: 50%;
    box-shadow: inset 7px 7px var(--white-color);
    transition: transform var(--transition-speed-fast) ease-in-out;
    transform: scale(0);
  }

  &:checked::before {
    transform: scale(1);
  }
}
