header {
  display: flex;
  flex-direction: column;
  gap: 25px;
  .logo {
    display: block;
    width: 28px;
    height: 32px;
  }
  .header-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    .step-pill {
      font-family: "Inter", sans-serif;
      font-weight: 700;
      font-size: 9px;
      line-height: 10.89px;
      text-transform: uppercase;
      background-color: var(--pill-background-color);
      color: var(--pill-color);
      width: fit-content;
      padding: 3px 7px;
      border-radius: 3px;
    }
    .copy {
      font-family: "Inconsolata", serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 18.72px;
    }
  }
}
