/* Simple CSS Reset */
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Inconsolata", serif;
  background-color: var(--background-color);
  background-image: url("../../assets/images/background.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center top;
  color: var(--white-color);
  line-height: 1.5;
  display: grid;
  grid-template-rows: 1fr auto;
}

h2 {
  font-family: "Liberator", sans-serif;
  font-weight: 800;
  font-size: 35px;
  line-height: 35px;
}

a {
  color: var(--white-color);
  font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-decoration-style: solid;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}
