.cta-button {
  width: 100%;
  background-color: var(--secondary-color);
  border-radius: 4px;
  border: none;
  color: var(--white-color);
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 17.55px;
  cursor: pointer;

  .animation {
    width: 22px;
    height: 11px;
    background: url("../../assets/images/arrow.svg") left center;
    background-repeat: no-repeat;
  }

  @media (pointer: fine) {
    &:hover {
      .animation {
        animation: animation-arrow 1.5s infinite;
      }
    }
  }
}

@keyframes animation-arrow {
  0% {
    background-position: 0px;
  }
  25% {
    background-position: 22px;
  }
  30% {
    background-position: 22px -99px;
  }
  40% {
    background-position: -30px 0px;
  }
  65% {
    background-position: 0px;
  }
}

.copy-button {
  background-color: transparent;
  border: 2px solid var(--black-color);
  color: var(--black-color);
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.38px;
  cursor: pointer;
}
