@import url("../utils/mixins.css");

.multi-step-form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .step-form {
    display: none;
    flex-direction: column;
    gap: 10px;
    border: none;
    font-family: "Inconsolata", serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 17.55px;

    .radio-container {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 12px;
      border-radius: 4px;
      background-color: rgba(var(--white-rgb-color), 0.09);
      transition: background-color var(--transition-speed-fast);

      &.selected {
        background-color: var(--option-active-color);
      }
    }
  }
}
