.form {
  background-color: var(--background-color);
  padding: 25px;
  border-radius: 3px;

  .label-step {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 16.44px;
    text-transform: uppercase;
    color: var(--label-step-color);
    margin-bottom: 10px;
  }

  .form-step {
    display: none;
    border: none;
    flex-direction: column;
    font-family: "Inconsolata", serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 17.55px;
    gap: 10px;

    .radio-container {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 12px;
      border-radius: 4px;
      background-color: rgba(var(--white-rgb-color), 0.09);
      transition: background-color var(--transition-speed-fast);

      &.selected {
        background-color: var(--option-active-color);
      }

      input[type="radio"] {
        width: 20px;
        height: 20px;
        -webkit-appearance: none;
        appearance: none;
        background-color: transparent;
        border: 2px solid var(--white-color);
        border-radius: 50%;
        margin: 0;

        &::before {
          content: "";
          display: block;
          width: 10px;
          height: 10px;
          margin: 3px;
          border-radius: 50%;
          box-shadow: inset 7px 7px var(--white-color);
          transition: transform var(--transition-speed-fast) ease-in-out;
          transform: scale(0);
        }

        &:checked::before {
          transform: scale(1);
        }
      }
    }

    &.active {
      display: flex;
    }
  }
}
